# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
build/
.dart_tool/

assets/data/n1.json
assets/data/n2.json
assets/data/n3.json
assets/data/n4.json
assets/data/n5.json
assets/data/hiragana.json
assets/data/katakana.json

assets/data/n*.json
JLPT_요구사항명세서.docx
개발 원칙.txt
PROGRESS_UTF8.md
DEVELOPMENT_PRINCIPLES_UTF8.txt

# Environment variables
.env

# Project logs
PROGRESS.md
